.Move
  display: inline-block

// .move-appear
// .move-appear.move-appear-active
//   opacity: 1
//

.movey-appear
  opacity: 0.3
  transition: opacity 0s ease-in

  &.movey-appear-active
    opacity: 1
